*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
.container-header{
    max-width: 2000px;
    margin: 0 auto;
    background-color: rgba(37,94,233,255);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
   
    
}
.row{
    display: flex;
    width: calc(100% - 500px);
    justify-content: space-between;
    background-color: rgba(37,94,233,255);
       
}

.col-logo1{
    display: flex;
    padding-left: 5px;
    width: 25%;
    align-items: center; 

} 

.col-login{
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    width: 25%;
    align-items: center; 
    justify-content: end; 
}
.bottone1{
    background-color: white;
    border: 1px solid white;
    border-radius: 18px;
    padding: 5px 10px;

}
.col-link{
    display: flex;
    width: 50%;
    align-items: center; 
    justify-content: center;
    
}

.ul-header{
    display: flex;
    justify-content: space-around;
    list-style-type: none; 
 
}

.li-header{
    margin: 0 10px;
}
.link-header{
    color: white;
    text-decoration: none;
}


/* Main 1 */
.container-main1, .container-main5{
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.container-main1{
    
    padding: 30px 0px;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.row1{
    width: calc(80% - 500px);
    background-color: transparent;
    text-align: center;
    color: white;
    
    
}
h1{
    padding: 25px 0;
    font-size: 40px;
    
}
.paragrafo1{
    font-size: 17px;
    line-height: 25px;
}
.bottone2, .bottone3{
    border-radius: 20px;
    font-weight:bold;
    padding: 12px 22px;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 100px;

}
.bottone2{
    background-color: white;
    color: rgba(41,40,65,255);
    border: 1px solid white;
    margin-right: 10px;
    
}
.bottone3{
    background-color: rgba(41,40,65,255);
    color: white;
    border: 1px solid rgba(41,40,65,255);;
    margin-left: 10px;
}

/* Main 2 */
.container-main2-4, .container-main3{
    max-width: 2000px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-main2-4{
    background-color: rgb(253, 253, 255);
}


.row2-4, .row3{
    display: flex;
    width: calc(100% - 500px);
    background-color: rgb(219, 39, 159);
    
}

.column-grande{
    width: 70%;
    background-color: white;
    
    
}
.column-piccola{
    width: 30%;
    background-color: white;
    padding-top: 20px;
    color: rgba(41,40,65,255);
    
}
h2{
    font-size: 35px;
    
}
.paragrafo2{
    line-height: 22px;
    padding-top: 30px;
}
.immagine1{
    width: 80%;
    
}

.container-main3{
    
    background-color: lightgrey;
    
}
.row3{
    flex-direction: row-reverse;
}
.container-main5{
    height: 700px;
    background-color: lightgray;
    padding: 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.row5{
    width: calc(100% - 500px);
    background-color: green;
    border: 2px dashed black;
    
}
.container-footer1, .container-footer2{
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    
}
.container-footer1{
    height: 450px;
    background-color: rgb(63, 63, 63);
    padding-top: 10px;
    padding-bottom: 25px;
    
}
.row6, .row7{
    display: flex;
    width: calc(100% - 500px);
   
}
.column1{
    width: 32%;
    background-color: rgb(255, 0, 72);
    border: 2px dashed black;
}
.column2{
    width: 17%;
    background-color: rgb(47, 217, 166);
    border: 2px dashed white;
}
hr{
    color: white;
}
.container-footer2{
    background-color: rgb(63, 63, 63);
    padding: 10px 0px;

}
.row7{
    height: 32px;
    justify-content: space-between;
    background-color: rgb(39, 210, 219);
    align-items: center; 
    padding: 30px 0;  

}
.col-logo2, .col-bottone{
    border: 2px dashed black;
    background-color: pink;
    width: 60px;
    height: 25px;
    text-align: center;
}
